/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */

@import url(https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css); /* Default asciidoc style framework - important */

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */
:root {
    /*------------------------*/
    --mblue: #2652e5;
    --mmagenta: #825181;
    --mred: #970207;
    --mgreen: #4d8813;
    --mdarkgray: #494554;
    --mlightgray: #797585;
    --myellow: #bac008;
    --maqua: #167a96;
    /*------------------------*/
    --maincolor: #282c34;
    --primarycolor: var(--mred);
    --secondarycolor: #191C24;
    --light: #6C7293;
    --dark: #000000;
    --tertiarycolor: #4db6ac;
    --sidebarbackground: #191C24;
    --linkcolor: var(--mmagenta);
    --linkcoloralternate: #2652e5;
    --white: #FFFFFF;
}

/* roles */

.red {
    color: var(--mred);
}

.metatron:before {
    content: 'metatron';
    mask-image: linear-gradient(to bottom, var(--primarycolor), var(--tertiarycolor));
}

/* Text styles */

html {
    font-size: 18px;
    font-family: sans-serif;
}

body {
    background-color: var(--maincolor);
    color: var(--white);
}

strong {
    color: var(--myellow);
}

h1 {
    color: var(--primarycolor) !important;
    font-family: sans-serif;
}

h2, h3, h4, h5, h6 {
    color: var(--primarycolor) !important;
    font-family: sans-serif;
}

.title {
    color: var(--mred) !important;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold
}

#toc.toc2 a:link {
    color: var(--linkcolor);
}

blockquote {
    color: var(--tertiarycolor) !important
}

.quoteblock {
    color: var(--white)
}

code {
    color: var(--linkcoloralternate);
    background-color: var(--sidebarbackground) !important;
    border-radius: 0px;
}


/* Table styles */
th {
    background-color: var(--maincolor);
    color: var(--white) !important;
}

.td-text {
    background-color: var(--maincolor) !important;
}

td {
    background-color: var(--sidebarbackground);
    color: var(--linkcoloralternate) !important
}

#toc.toc2 {
    background-color: var(--sidebarbackground);
}

#toctitle {
    mask-image: linear-gradient(to bottom, var(--primarycolor), var(--tertiarycolor));
}

/* Responsiveness fixes */
video {
    max-width: 100%;
}

@media all and (max-width: 600px) {
    table {
        width: 55vw !important;
        font-size: 3vw;
    }
}

.exampleblock > .content {
    background-color: var(--maincolor);
}

a {
    color: var(--linkcoloralternate);
}

.admonitionblock td.icon .icon-tip::before {
    text-shadow: none;
    color: var(--white);
}

.admonitionblock td.icon .icon-note::before {
    color: var(--tertiarycolor);
}

.admonitionblock td.icon .icon-important::before {
    color: var(--linkcolor);
}

/*.admonitionblock td.icon .icon-caution::before {
  color: var(--linkcoloralternate);
}*/
.admonitionblock td.icon .icon-warning::before {
    color: var(--primarycolor);
}

#preamble > .sectionbody > .paragraph:first-of-type p {
    color: var(--white);
}

.quoteblock blockquote::before {
    color: var(--primarycolor);
}

.quoteblock .attribution cite, .verseblock .attribution cite {
    color: var(--white);
}

.verseblock pre {
    color: var(--white);
}

.quoteblock blockquote, .quoteblock blockquote p {
    color: var(--white);
}

.sidebarblock {
    background: var(--sidebarbackground);
}

pre code {
    color: var(--linkcoloralternate);
}

.literalblock pre, .listingblock pre:not(.highlight), .listingblock pre[class="highlight"], .listingblock pre[class^="highlight "], .listingblock pre.CodeRay, .listingblock pre.prettyprint {
    background: var(--sidebarbackground);
    color: var(--primarycolor);
}


.literalblock pre, .listingblock > .content > pre:not(.highlight), .listingblock > .content > pre[class=highlight], .listingblock > .content > pre[class^="highlight "] {
    background: var(--sidebarbackground);
    color: var(--primarycolor);
    margin: 0em !important;
    padding: 0.5em !important;
    /*font-size: 120%*/;
    overflow: hidden !important; /* or else there is a y scrollbar on code blocks ?? */
}

.title {
    color: var(--linkcoloralternate);
    font-size: 120%;
}

#header span.email a {
    color: var(--linkcoloralternate);
}

.parchment {
    position: relative;
    display: flex;
    /*width: 25%;
    min-height: 200);*/
    /* center page with absolute position */
    /*top: 0%; left: 50%; transform: translate(-50%, 0);*/
    margin: 0.15em 0;
    padding: 0.15em;
    box-shadow: 1px 2px 5px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
    filter: url(#wavy2);
}

/* Marker styling */
.circle {
    position: relative;
    margin: 0 40px;
    color: #333;
    text-decoration: none;
    /* line-height: 1em; */

    & svg {
        position: absolute;
        left: 0;
        top: -50%;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        pointer-events: none;
    }

    & path {
        transition: stroke-dashoffset 300ms linear;
        stroke-width: 3.0;
        stroke: darkgreen;
        fill: none;
        stroke-linecap: round;
    }

    &:hover path {
        stroke-dashoffset: 0;
    }
}


/******************************************************************/

.hljs {
    font-size: 95%;
    display: block;
    padding: 0.5em;
}

.hljs-phaseshift-studio-header {
    color: var(--secondarycolor) !important;
    font-weight: bolder;
}

.hljs-mtron-real,
.hljs-mtron-bytes,
.hljs-mtron-int,
.hljs-mtron-str,
.hljs-mtron-bool,
.hljs-mtron-furi-query,
.hljs-mtron-sugar-inst,
.hljs-mtron-query,
.hljs-mtron-sys-furi,
.hljs-mtron-log-warn{
    color: var(--myellow);
}

.h {
    color: #d4de68;
    font-weight: bold !important;
}

.hljs-mtron-rec-key {
    color: var(--maqua);
}

#header,
.hljs-mtron-form,
.hljs-punctuation,
.hljs-mtron-rec,
.hljs-mtron-result-prefix,
.hljs-mtron-type-prefix,
.hljs-mtron-prompt-end,
.hljs-mtron-log-info {
    color: var(--mgreen);
}

.hljs-mtron-prompt-begin,
.hljs-mtron-noobj,
.hljs-mtron-T {
    color: var(--mmagenta);
}

.hljs-mtron-pipe,
.hljs-mtron-log-error,
.hljs-mtron-match-fail,
.hljs-mtron-fail,
.hljs-mtron-fail-bar,
.hljs-mtron-thrown {
    color: var(--mred);
}

.hljs-comment {
    color: var(--mlightgray);
}

.hljs-mtron-keyword,
.hljs-mtron-inst {
    color: var(--tertiarycolor);
}

.hljs-mtron-uri,
.hljs-mtron-type,
.hljs-mtron-inst-f-jvm {
    color: var(--mblue);
}

.hljs-mtron-doc-callout, .conum {
    display: inline-block;
    color: var(--tertiarycolor);
    background: var(--mmagenta) !important;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    margin-right: 40px;
    float: right;
    width: 25px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    /*font-family: Arial;*/
}

.hljs-fos-docs-if-else-then-case-do,
.hljs-mtron-comment {
    color: #797979;
}